<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jrwp.appr.dao.AppraiseModelDao" >
    <select id="getObjectById" resultType="com.jrwp.appr.entity.AppraiseModel">
        SELECT * from APPRAISE_MODEL where id = #{id}
    </select>
</mapper>