.rwpIconSelect i{ display:block;}
.rwpIconList li{ float:left; cursor:pointer; border: 1px solid #fff;}
.rwpIconList li.rwpIconSelectedItem{ border-color: #1a30d9;}
.rwpIconList li:hover{border-color: #0094ff;}
