.rwpTree{ margin:5px 10px; width:100%;}
.rwpTree ul{margin-left:27px; background:url(../images/tree/imgTreeBg1.gif) repeat-y 6px 0;}
.rwpTree a{display:inline-block; width:68px; height:20px; line-height:20px; overflow:hidden; vertical-align:baseline; font-family:SimSun;}
.rwpTree a:hover,.rwpTree a.rwpTreeSelected{color:#4b88b7}
.rwpTree .rwpTreeChildren{ display:block; margin-top:-4px; padding-top:11px; overflow:hidden; clear:both; zoom:1; }
.rwpTree .rwpTreeLast{background-color:#fff;}


/*图标*/
.rwpTreeIcon{display:inline-block; width:20px; height:20px; background:url(../images/tree/imgTreeBg.gif) no-repeat 100px 100px; vertical-align:baseline; cursor:pointer;}
.rwpTreeIcon.rwpTreeIconFolder{vertical-align:text-bottom; background-position:-35px 7px;}
.rwpTreeIcon.rwpTreeIconFolderOpen{vertical-align:text-bottom; background-position:-35px -13px;}
.rwpTreeIcon.rwpTreeIconLeaf{vertical-align:text-bottom; background-position:-55px 7px;}
.rwpTree a:hover .rwpTreeIcon.rwpTreeIconLeaf{background-position:-55px -13px;}
.rwpTreeSelected .rwpTreeIcon.rwpTreeIconLeaf{background-position:-55px -13px;}

.rwpTree .rwpTreeIcon.rwpTreeCheckbox{ vertical-align:text-bottom; width:20px; background-position:0 -43px;}
.rwpTree .rwpTreeCheckbox.rwpTreeCheckboxUnchecked{background-position:0 -43px;}
.rwpTree .rwpTreeIcon.rwpTreeCheckboxUnchecked:hover{background-position:-25px -43px;}
.rwpTree .rwpTreeCheckbox.rwpTreeCheckboxChecked{background-position:-50px -43px;}
.rwpTree .rwpTreeCheckbox.rwpTreeCheckboxChecked:hover{background-position:-76px -43px;}

/*开/关*/
.rwpTreeIcon.rwpTreeBox{width:25px; background:url(../images/tree/imgTreeBg.gif) no-repeat 0 0;}
.rwpTreeIcon.rwpTreeBox.rwpTreeExpandClose{background-position:0 3px;}
.rwpTreeIcon.rwpTreeBox.rwpTreeExpandOpen{background-position:0 -17px;}
/*根部*/
.rwpTreeIcon.rwpTreeBox.rwpTreeExpandClose.rwpTreeRootExpand{background-position:0 5px;}
.rwpTreeIcon.rwpTreeBox.rwpTreeExpandOpen.rwpTreeRootExpand{background-position:0 -15px;}
/*最后部分*/
.rwpTreeIcon.rwpTreeBox.rwpTreeExpandClose.rwpTreeLastExpand{background-position:-102px 1px;}
.rwpTreeIcon.rwpTreeBox.rwpTreeExpandOpen.rwpTreeLastExpand{background-position:-102px -18px;}

/*结点*/
.rwpTreeIcon.rwpTreeNote{background-position:7px -68px;}
.rwpTreeLastNote{background-position:-19px -77px;}
.rwpTreeLine .rwpTreeLastNote{background-position:-19px -76px;}


/*表格*/
.rwpGridTableBody .rwpTreeIcon.rwpTreeBox.rwpTreeExpandClose{background-position:6px -95px;}
.rwpGridTableBody .rwpTreeIcon.rwpTreeBox.rwpTreeExpandOpen{background-position:-15px -95px;}
.rwpGridTableTrFocus .rwpTreeIcon.rwpTreeBox.rwpTreeExpandClose{background-position:-37px -95px;}
.rwpGridTableTrFocus .rwpTreeIcon.rwpTreeBox.rwpTreeExpandOpen{background-position:-59px -95px;}





