.rwpTree{ margin:5px 10px;}
.rwpTree ul{margin-left:27px; background:url(../images/tree/imgTreeBg1.gif) repeat-y 6px 0;}
.rwpTree li{white-space:nowrap;}
.rwpTree a{display:inline-block; height:20px; line-height:20px; overflow:hidden; vertical-align:middle; font-family:SimSun;}
.rwpTree a.rwpTreeSelected{ color:#4B88B7;}
.rwpTree .rwpTreeChildren{ display:block; margin-top:-4px; padding-top:10px; clear:both; zoom:1; }
.rwpTree .rwpTreeLast{background:#fff url(../images/tree/imgTreeBg1.gif) no-repeat 6px 0;}


/*图标*/
.rwpTreeIcon{display:inline-block; width:20px; height:20px; background: url(../images/tree/imgTreeBg.gif) no-repeat 100px 100px; vertical-align:middle; cursor:pointer;}
.rwpTreeIcon.rwpTreeIconFolder{background-position:-35px 4px;}
.rwpTreeIcon.rwpTreeIconFolderOpen{background-position:-35px -17px;}
.rwpTreeIcon.rwpTreeIconLeaf{width:15px; background-position:-56px 3px;}
.rwpTree a:hover .rwpTreeIcon.rwpTreeIconLeaf{background-position:-56px -17px;}
.rwpTreeSelected .rwpTreeIcon.rwpTreeIconLeaf{background-position:-56px -17px;}

.rwpTree .rwpTreeIcon.rwpTreeCheckbox{ width:20px; background-position:0 -44px; vertical-align:middle;}
.rwpTree .rwpTreeCheckbox.rwpTreeCheckboxUnchecked{background-position:0 -44px;}
.rwpTree .rwpTreeIcon.rwpTreeCheckboxUnchecked:hover{background-position:-25px -44px;}
.rwpTree .rwpTreeCheckbox.rwpTreeCheckboxChecked{background-position:-50px -44px;}
.rwpTree .rwpTreeCheckbox.rwpTreeCheckboxChecked:hover{background-position:-76px -44px;}
/*.rwpTree .rwpTreeCheckbox.rwpTreeCheckboxIncomplete{background-position:-50px -74px;}
.rwpTree .rwpTreeCheckbox.rwpTreeCheckboxIncomplete:hover{background-position:-76px -74px;}*/


/*开/关*/
.rwpTreeIcon.rwpTreeBox{width:25px; background:url(../images/tree/imgTreeBg.gif) no-repeat 0 0;}
.rwpTreeIcon.rwpTreeBox.rwpTreeExpandClose{background-position:0 3px;}
.rwpTreeIcon.rwpTreeBox.rwpTreeExpandOpen{background-position:0 -17px;}
/*头部*/
.rwpTreeIcon.rwpTreeBox.rwpTreeRootExpand.rwpTreeExpandClose{background-position:0 3px;}
.rwpTreeIcon.rwpTreeBox.rwpTreeRootExpand.rwpTreeExpandOpen{background-position:0 -17px;}
/*最后部分*/
.rwpTreeLast .rwpTreeIcon.rwpTreeBox.rwpTreeExpandOpen{background-position:-102px -19px;}

.rwpTreeLast .rwpTreeIcon.rwpTreeBox.rwpTreeExpandClose{background-position:-102px 1px;}


/*结点*/
.rwpTreeIcon.rwpTreeNote{background-position:7px -71px;}
.rwpTreeLast .rwpTreeLastNote{vertical-align:top; background-position:-19px -78px;}

.rwpTreeIcon.rwpTreeSwitch{width:25px;}


/*表格*/
.rwpGridTableBody .rwpTreeIcon.rwpTreeBox.rwpTreeExpandClose{background-position:3px -92px;}
.rwpGridTableBody .rwpTreeIcon.rwpTreeBox.rwpTreeExpandOpen{background-position:-18px -92px;}
.rwpGridTableTrFocus .rwpTreeIcon.rwpTreeBox.rwpTreeExpandClose{background-position:-40px -92px;}
.rwpGridTableTrFocus .rwpTreeIcon.rwpTreeBox.rwpTreeExpandOpen{background-position:-61px -92px;}

.rwpTreeExpandLoading{display:inline-block; background:url(../images/loading/imgLoading3.gif) no-repeat 0 center!important;}



