.pinch-zoom, .pinch-zoom img {
    width: 100%;
    -webkit-user-drag: none;
}
body {
    font-size: 14px;
    color: #333;
    padding: 0;
    background: #FFF;

}
.containera {
    overflow: hidden;
    line-height: 1.42857143;
    margin-top: -60px;
}

.headera {
    font-size: 20px;
    position: relative;
}

li button {
    width: 100%;
    border: 0;
    background: white;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

ul .busi {
    width: 45%;
    /*height: 142px;*/
    padding: 5px;
    display: inline-block;
    font: 16px/22px SimHei;
    text-align: center;
    float: left;
    margin-right: 7px;
    margin-top: 10px;
}

li img {
    width: 50px;
    height: 50px;
}
p {
    margin: 0;
    height: 30px;
    width: 100%;
}
.weui-tab__panel {
    box-sizing: border-box;
    height: 100%;
    padding-bottom: 55px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.box_wrap{
    position: relative;
    top: -4rem;
    /*padding: 0 15px 15px;*/
    margin: 0 15px 15px;
    box-shadow: 5px 5px 10px #888888
}
.box{
    /*box-shadow: ;*/
    background: #fff;
    margin-top: 1rem;
    padding: 15px 15px;
    border-bottom: 1px solid #F2F2F2;
    border-left: 1px solid #F2F2F2;
    border-right: 1px solid #F2F2F2;
    /*box-shadow: 5px 5px 5px #888888*/
}
.box_info{
    float: left;
    width: 25%;
    text-align: center;
    /*position: relative;*/
}
.box_info>img{
    /*transform: scale(0.4);*/
    width: 30px;
    height: 35px;
    /*display: block;*/
}
.box_name{
    font-size: 15px;
    /*position: absolute;*/
    /*top:15%;*/
    width: 100%;
    display: block;
}
.title_tip{
    color: #298FEE;
    background: #F7FCFF;
    width: 30px;
    height: 15px;
    padding: 5px 10px;
    border: 1px solid #A3D4FB;
    display: inline-block;
    line-height: 15px;
}
.title{
    color: #9D9D9D;
    font-size: 18px;
}
.box_title{
    padding-top: 20px;
    padding-left: 20px;
    border-bottom: 1px solid #F2F2F2;
    padding-bottom: 15px;
    border-left: 1px solid #F2F2F2;
    border-right: 1px solid #F2F2F2;
}
.apply{
    vertical-align: middle;
    margin-left: 5px;
    color: #333333;
    font-weight: bold;
    font-size: 18px;
}
.busi_cell{
    float: left;
    margin-left: 10px;
}
.kind{
    color: #000;
    font-size: 18px;
}
.bs_info{
    color: #9C9C9C;
    font-size: 18px;
}
.text_left{
    text-align: left;
}
#more{
    float: left;
}