<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jrwp.payMent.dao.IDeptMacAuthDao">
	<resultMap type="com.jrwp.payMent.entity.DeptMacAuth" id="macAuthMap">
		<id property="id" column="id" javaType="Long" jdbcType="INTEGER" />
		<result property="deptid" column="deptid" javaType="Long"
			jdbcType="INTEGER" />
		<result property="ckbh" column="ckbh" javaType="String"
			jdbcType="VARCHAR" />
		<result property="macip" column="macip" javaType="String"
			jdbcType="VARCHAR" />
		<result property="createtime" column="createtime" javaType="java.util.Date"
			jdbcType="TIMESTAMP" />
		<result property="operator" column="operator" javaType="Long"
			jdbcType="INTEGER" />
		<result property="authtime" column="authtime" javaType="java.util.Date"
			jdbcType="TIMESTAMP" />
		<result property="starttime" column="starttime" javaType="java.util.Date"
			jdbcType="TIMESTAMP" />
		<result property="endtime" column="endtime" javaType="java.util.Date"
			jdbcType="TIMESTAMP" />
		<result property="status" column="status" />
	</resultMap>
	<!-- 列表 -->
	<select id="list" resultMap="macAuthMap">
		select * from DEPT_MAC_AUTH
	</select>
	<!-- 获取单个对象 -->
	<select id="getObjectById" resultMap="macAuthMap">
		select * from DEPT_MAC_AUTH where id = #{id}
	</select>
	<!-- 保存 -->
	<insert id="save" parameterType="com.jrwp.payMent.entity.DeptMacAuth">
		<selectKey resultType="Long" order="BEFORE" keyProperty="id">
			SELECT SEQ_DEPT_MAC_AUTH_ID.nextval AS id FROM dual
		</selectKey>
		insert into DEPT_MAC_AUTH (id,deptid,ckbh,macip,createtime,status)
		values (#{id},#{deptid},#{ckbh},#{macip},#{createtime},#{status})
	</insert>
	<!-- 更新 -->
	<update id="updateById" parameterType="com.jrwp.payMent.entity.DeptMacAuth">
		update DEPT_MAC_AUTH set operator = #{operator},authtime = #{authtime},
		starttime = #{starttime},endtime = #{endtime},status = #{status} where id = #{id}
	</update>
	<!-- 删除单个对象 -->
	<delete id="delete">
		delete from DEPT_MAC_AUTH where id = #{id}
	</delete>
</mapper>